*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height:350px;
    width:55vw;
    margin-top: 10%;
    box-shadow: -10px -10px 10px 5px rgba(0, 0, 0, 0.111);
}
body{
    background-color:rgb(215, 226, 250);
}
.long-quote {
    font-size:2em;
}
.btns{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5rem;
    gap: 0 2rem;
}
.loader{
    position:absolute;
    top: 35%;
    left: 45%;
    display: flex;
    align-items: center;
}
.hidden{
    display:none;
}
.loader span {
    width:8px;
    height: 100px;
    background: rgb(34, 3, 3);
    border-radius: 20px;
    margin: 0 4px;
    animation: loading 1s infinite;
}
.loader span:nth-child(2){
    animation-delay: 0.1s;
}
.loader span:nth-child(3){
    animation-delay: 0.2s;
}
.loader span:nth-child(4){
    animation-delay: 0.3s;
}
.loader span:nth-child(5){
    animation-delay: 0.4s;
}
.loader span:nth-child(6){
    animation-delay: 0.5s;
}
.loader span:nth-child(7){
    animation-delay: 0.6s;
}
.loader span:nth-child(8){
    animation-delay: 0.7s;
}
.loader span:nth-child(9){
    animation-delay: 0.8s;
}
.loader span:nth-child(10){
    animation-delay: 0.9s;
}
@keyframes loading {
    0%{height: 100px;}
    50%{height: 0px;}
    100%{height:100px;}
}
@media screen and (max-width: 1000px) {
    .container{
        margin: auto 10px;
    }

    .quote{
        font-size: 2.25rem;
    }

    .btns {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    button {
        margin: 10px;
    }
}
